*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;

}
body{
    background-color: #fbfbfb;
}
@import "../Layout/Navbar/navbar";
@import "../Pages/Home/Banner/banner";
@import "../Layout/Footer/footer";