#about{

    .container{

        margin-top: 4rem;
        background-color: white;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.25),0 3px 10px 0 rgba(0,0,0,.2);
    }
    .about_desc{
        h2{
            margin-bottom: 1.5rem;
        }
    }
    .about_right{
        h2{
            margin-bottom: 1.5rem;
        }
        .lists{
            display: flex;
            justify-content: space-between;

            ul{
                margin: 0;
                padding: 0;
                
                li{
                    color: rgb(79, 79, 79);
                    font-size: 16px;
                    padding-bottom: 8px;
                    @media (max-width:413px) {
                        font-size: 14px;
                    }
                    span{
                        font-weight: bolder;
                        
                    }

                    list-style: none;
                }
            }
        }
    }
}